In [1]:
from Microdados_CAGED import *
import pandas as pd

In [2]:
# Aqui cria-se dois data.frames: os dados brutos e os sumarizados pelo pandas
caged_microdados_full, caged_agrupamentos = importar_caged_mes_ano(ano_base=2023, mes_base=10)
caged_microdados = caged_microdados_full.query(f"uf == {piaui}")

KeyboardInterrupt:

In [3]:
# Verificação se dos itens criados, temos de fato um data.frame
if isinstance(caged_agrupamentos["município"], pd.DataFrame):
    print("É um DataFrame")
else:
    print("Não é um DataFrame")

É um DataFrame

In [4]:
caged_agrupamentos["município"] # Verificando um dos itens do dicionário

                     Salario_admissão Salario_desligamento  Admissões  \
Período    município
2023-10-01 220005             1693.62              1848.30          5
           220010             1321.38              1320.00          5
           220020             1401.93              1420.54         29
           220025             1328.33              1331.11          1
           220027             1344.00                  NaN          1
...                               ...                  ...        ...
           221110             1123.01              1112.59         64
           221120             1634.21              1752.78        311
           221130             1548.51              1247.28         55
           221140             1980.00              1980.00          0
           221170             1694.81              1694.81          0

                      Desligamentos  Saldo
Período    município
2023-10-01 220005                 1      4
           220010                 1      4
           220020                40    -11
           220025                 3     -2
           220027                 0      1
...                             ...    ...
           221110               112    -48
           221120               198    113
           221130                30     25
           221140                 1     -1
           221170                10    -10

[190 rows x 5 columns]

In [2]:
caged_dimensoes = importar_dimensoes() # o dicionário de tabelas-dimensões

NameError: name 'importar_dimensoes' is not defined

In [1]:
caged_dimensoes['uf']

NameError: name 'caged_dimensoes' is not defined

In [7]:
# O dicionário de dos dados agrupados, separados pelo respectivo grupo
# Esta etapa é apenas para separar os objetos, deixando salvos os objtos acima
 
dataframes_dict = {}
for key in pages[:-1]:
    dataframes_dict[key] = pd.DataFrame(caged_agrupamentos[key])

# temos um dicionário de DataFrames separados
dataframes_dict

{'município':                      Salario_admissão Salario_desligamento  Admissões  \
 Período    município
 2023-10-01 220005             1693.62              1848.30          5
            220010             1321.38              1320.00          5
            220020             1401.93              1420.54         29
            220025             1328.33              1331.11          1
            220027             1344.00                  NaN          1
 ...                               ...                  ...        ...
            221110             1123.01              1112.59         64
            221120             1634.21              1752.78        311
            221130             1548.51              1247.28         55
            221140             1980.00              1980.00          0
            221170             1694.81              1694.81          0

                       Desligamentos  Saldo
 Período    município
 2023-10-01 220005                 1      4
            220010                 1      4
            220020                40    -11
            220025                 3     -2
            220027                 0      1
 ...                             ...    ...
            221110               112    -48
            221120               198    113
            221130                30     25
            221140                 1     -1
            221170                10    -10

 [190 rows x 5 columns],
 'subclasse':                      Salario_admissão Salario_desligamento  Admissões  \
 Período    subclasse
 2023-10-01 111301             2200.87              2382.55         15
            111302             1989.61              2051.91         34
            111399             1924.02              2003.11         23
            112101             1443.36                  NaN          1
            113000             1353.85              1347.50          3
 ...                               ...                  ...        ...
            9609204            1400.00              1400.00          0
            9609206            1500.00                  NaN          1
            9609207            1320.00                  NaN          1
            9609208            1364.85              1320.00          6
            9609299            2342.66              2600.00          1

                       Desligamentos  Saldo
 Período    subclasse
 2023-10-01 111301                15      0
            111302                25      9
            111399                 7     16
            112101                 0      1
            113000                36    -33
 ...                             ...    ...
            9609204                1     -1
            9609206                0      1
            9609207                0      1
            9609208                1      5
            9609299                1      0

 [623 rows x 5 columns],
 'Setores':                                                               Salario_admissão  \
 Período    Setores
 2023-10-01 Administração pública, defesa, seguridade socia...          3020.30
            Agricultura, pecuária, produção florestal, pesc...          1496.15
            Alojamento e alimentação                                    1356.68
            Comércio, reparação de veículos automotores e m...          1436.70
            Construção                                                  1572.30
            Indústria geral                                             1593.67
            Informação, comunicação e atividades financeira...          1584.17
            Outros serviços                                             1382.90
            Serviços de transporte, armazenagem e correio               1595.02

                                                               Salario_desligamento  \
 Período    Setores
 2023-10-01 Administração pública, defesa, seguridade socia...              1618.14
            Agricultura, pecuária, produção florestal, pesc...              1205.84
            Alojamento e alimentação                                        1349.78
            Comércio, reparação de veículos automotores e m...              1422.44
            Construção                                                      1641.10
            Indústria geral                                                 1538.56
            Informação, comunicação e atividades financeira...              1654.33
            Outros serviços                                                 1364.60
            Serviços de transporte, armazenagem e correio                   1751.54

                                                                Admissões  \
 Período    Setores
 2023-10-01 Administração pública, defesa, seguridade socia...        642
            Agricultura, pecuária, produção florestal, pesc...       1135
            Alojamento e alimentação                                  649
            Comércio, reparação de veículos automotores e m...       3047
            Construção                                               2518
            Indústria geral                                           854
            Informação, comunicação e atividades financeira...       2908
            Outros serviços                                           226
            Serviços de transporte, armazenagem e correio             421

                                                                Desligamentos  \
 Período    Setores
 2023-10-01 Administração pública, defesa, seguridade socia...            580
            Agricultura, pecuária, produção florestal, pesc...           1119
            Alojamento e alimentação                                      606
            Comércio, reparação de veículos automotores e m...           2808
            Construção                                                   1630
            Indústria geral                                               875
            Informação, comunicação e atividades financeira...           2103
            Outros serviços                                               192
            Serviços de transporte, armazenagem e correio                 300

                                                                Saldo
 Período    Setores
 2023-10-01 Administração pública, defesa, seguridade socia...     62
            Agricultura, pecuária, produção florestal, pesc...     16
            Alojamento e alimentação                               43
            Comércio, reparação de veículos automotores e m...    239
            Construção                                            888
            Indústria geral                                       -21
            Informação, comunicação e atividades financeira...    805
            Outros serviços                                        34
            Serviços de transporte, armazenagem e correio         121  ,
 'Escolaridade':                                   Salario_admissão Salario_desligamento  \
 Período    Escolaridade
 2023-10-01 Analfabeto                      1192.71              1058.12
            Fundamental Completo            1505.13              1508.33
            Fundamental Incompleto          1395.09              1340.59
            Médio Completo                  1572.83              1439.96
            Médio Incompleto                1285.19              1219.52
            Superior Completo               2427.68              2441.12
            Superior Incompleto             1560.65              1562.43

                                    Admissões  Desligamentos  Saldo
 Período    Escolaridade
 2023-10-01 Analfabeto                     46             60    -14
            Fundamental Completo         1137            886    251
            Fundamental Incompleto       1207           1023    184
            Médio Completo               7703           6241   1462
            Médio Incompleto              831            758     73
            Superior Completo            1002            865    137
            Superior Incompleto           474            380     94  ,
 'faixaetária':                            Salario_admissão Salario_desligamento  Admissões  \
 Período    faixaetária
 2023-10-01 18 a 24 anos             1577.01              1193.68       3539
            25 a 29 anos             1499.99              1456.04       2385
            30 a 39 anos             1615.40              1611.14       3518
            40 a 49 anos             1667.63              1695.51       2033
            50 a 64 anos             1777.88              1745.92        771
            Até 17 anos               563.84               403.99        132
            Mais de 65 anos          2914.50              2700.99         22

                             Desligamentos  Saldo
 Período    faixaetária
 2023-10-01 18 a 24 anos              2344   1195
            25 a 29 anos              2055    330
            30 a 39 anos              3273    245
            40 a 49 anos              1770    263
            50 a 64 anos               677     94
            Até 17 anos                 49     83
            Mais de 65 anos             45    -23  ,
 'raçacor':                    Salario_admissão Salario_desligamento  Admissões  \
 Período    raçacor
 2023-10-01 1                1769.52              1780.39        961
            2                1529.84              1583.72        662
            3                1589.04              1449.97       8938
            4                1513.33              1806.58         83
            5                1241.43              1233.24         10
            6                1569.15              1567.34       1746
            9                1662.40              1662.40          0

                     Desligamentos  Saldo
 Período    raçacor
 2023-10-01 1                  918     43
            2                  437    225
            3                 7102   1836
            4                   60     23
            5                   11     -1
            6                 1678     68
            9                    7     -7  ,
 'sexo':                 Salario_admissão Salario_desligamento  Admissões  \
 Período    sexo
 2023-10-01 1             1548.80              1528.88       8492
            3             1701.50              1459.87       3908

                  Desligamentos  Saldo
 Período    sexo
 2023-10-01 1              6928   1564
            3              3285    623  }

In [8]:
# Consolidação dos resultados, conforme os parâmetros da função que criamos
caged_formatado_completo = consolidar_caged(caged_agrupamentos, caged_dimensoes)

In [9]:
caged_formatado_completo

{'município':         Período           município  Admissões  Desligamentos  Saldo  \
 0    2023-10-01               Acauã          5              1      4
 1    2023-10-01        Agricolândia          5              1      4
 2    2023-10-01         Água Branca         29             40    -11
 3    2023-10-01  Alagoinha do Piauí          1              3     -2
 4    2023-10-01   Alegrete do Piauí          1              0      1
 ..          ...                 ...        ...            ...    ...
 185  2023-10-01               União         64            112    -48
 186  2023-10-01              Uruçuí        311            198    113
 187  2023-10-01    Valença do Piauí         55             30     25
 188  2023-10-01       Várzea Grande          0              1     -1
 189  2023-10-01         Wall Ferraz          0             10    -10

     Salario_desligamento Salario_admissão
 0                 1848.3          1693.62
 1                 1320.0          1321.38
 2                1420.54          1401.93
 3                1331.11          1328.33
 4                    NaN           1344.0
 ..                   ...              ...
 185              1112.59          1123.01
 186              1752.78          1634.21
 187              1247.28          1548.51
 188               1980.0           1980.0
 189              1694.81          1694.81

 [190 rows x 7 columns],
 'subclasse':         Período                                          subclasse  Admissões  \
 0    2023-10-01                                   Cultivo de Arroz         15
 1    2023-10-01                                   Cultivo de Milho         34
 2    2023-10-01  Cultivo de Outros Cereais não Especificados An...         23
 3    2023-10-01                        Cultivo de Algodão Herbáceo          1
 4    2023-10-01                          Cultivo de Cana-De-Açúcar          3
 ..          ...                                                ...        ...
 618  2023-10-01  Exploração de Máquinas de Serviços Pessoais Ac...          0
 619  2023-10-01       Serviços de Tatuagem e Colocação de Piercing          1
 620  2023-10-01                   Alojamento de Animais Domésticos          1
 621  2023-10-01       Higiene e Embelezamento de Animais Doméstico          6
 622  2023-10-01  Outras Atividades de Serviços Pessoais não Esp...          1

      Desligamentos  Saldo Salario_desligamento Salario_admissão
 0               15      0              2382.55          2200.87
 1               25      9              2051.91          1989.61
 2                7     16              2003.11          1924.02
 3                0      1                  NaN          1443.36
 4               36    -33               1347.5          1353.85
 ..             ...    ...                  ...              ...
 618              1     -1               1400.0           1400.0
 619              0      1                  NaN           1500.0
 620              0      1                  NaN           1320.0
 621              1      5               1320.0          1364.85
 622              1      0               2600.0          2342.66

 [623 rows x 7 columns],
 'Setores':       Período                                            Setores  Admissões  \
 0  2023-10-01  Administração pública, defesa, seguridade soci...        642
 1  2023-10-01  Agricultura, pecuária, produção florestal, pes...       1135
 2  2023-10-01                           Alojamento e alimentação        649
 3  2023-10-01  Comércio, reparação de veículos automotores e ...       3047
 4  2023-10-01                                         Construção       2518
 5  2023-10-01                                    Indústria geral        854
 6  2023-10-01  Informação, comunicação e atividades financeir...       2908
 7  2023-10-01                                    Outros serviços        226
 8  2023-10-01      Serviços de transporte, armazenagem e correio        421

    Desligamentos  Saldo Salario_desligamento Salario_admissão
 0            580     62              1618.14           3020.3
 1           1119     16              1205.84          1496.15
 2            606     43              1349.78          1356.68
 3           2808    239              1422.44           1436.7
 4           1630    888               1641.1           1572.3
 5            875    -21              1538.56          1593.67
 6           2103    805              1654.33          1584.17
 7            192     34               1364.6           1382.9
 8            300    121              1751.54          1595.02  ,
 'Escolaridade':       Período            Escolaridade  Admissões  Desligamentos  Saldo  \
 0  2023-10-01              Analfabeto         46             60    -14
 1  2023-10-01    Fundamental Completo       1137            886    251
 2  2023-10-01  Fundamental Incompleto       1207           1023    184
 3  2023-10-01          Médio Completo       7703           6241   1462
 4  2023-10-01        Médio Incompleto        831            758     73
 5  2023-10-01       Superior Completo       1002            865    137
 6  2023-10-01     Superior Incompleto        474            380     94

   Salario_desligamento Salario_admissão
 0              1058.12          1192.71
 1              1508.33          1505.13
 2              1340.59          1395.09
 3              1439.96          1572.83
 4              1219.52          1285.19
 5              2441.12          2427.68
 6              1562.43          1560.65  ,
 'faixaetária':       Período      faixaetária  Admissões  Desligamentos  Saldo  \
 0  2023-10-01     18 a 24 anos       3539           2344   1195
 1  2023-10-01     25 a 29 anos       2385           2055    330
 2  2023-10-01     30 a 39 anos       3518           3273    245
 3  2023-10-01     40 a 49 anos       2033           1770    263
 4  2023-10-01     50 a 64 anos        771            677     94
 5  2023-10-01  Mais de 65 anos         22             45    -23

   Salario_desligamento Salario_admissão
 0              1193.68          1577.01
 1              1456.04          1499.99
 2              1611.14           1615.4
 3              1695.51          1667.63
 4              1745.92          1777.88
 5              2700.99           2914.5  ,
 'raçacor':       Período           raçacor  Admissões  Desligamentos  Saldo  \
 0  2023-10-01            Branca        961            918     43
 1  2023-10-01             Preta        662            437    225
 2  2023-10-01             Parda       8938           7102   1836
 3  2023-10-01           Amarela         83             60     23
 4  2023-10-01          Indígena         10             11     -1
 5  2023-10-01     Não informada       1746           1678     68
 6  2023-10-01  Não Identificado          0              7     -7

   Salario_desligamento Salario_admissão
 0              1780.39          1769.52
 1              1583.72          1529.84
 2              1449.97          1589.04
 3              1806.58          1513.33
 4              1233.24          1241.43
 5              1567.34          1569.15
 6               1662.4           1662.4  ,
 'sexo':       Período    sexo  Admissões  Desligamentos  Saldo Salario_desligamento  \
 0  2023-10-01   Homem       8492           6928   1564              1528.88
 1  2023-10-01  Mulher       3908           3285    623              1459.87

   Salario_admissão
 0           1548.8
 1           1701.5  }

In [10]:
caged_formatado_completo["faixaetária"] # verificando a disposição de um dos itens

,Período,faixaetária,Admissões,Desligamentos,Saldo,Salario_desligamento,Salario_admissão
0,2023-10-01,18 a 24 anos,3539,2344,1195,1193.68,1577.01
1,2023-10-01,25 a 29 anos,2385,2055,330,1456.04,1499.99
2,2023-10-01,30 a 39 anos,3518,3273,245,1611.14,1615.4
3,2023-10-01,40 a 49 anos,2033,1770,263,1695.51,1667.63
4,2023-10-01,50 a 64 anos,771,677,94,1745.92,1777.88
5,2023-10-01,Mais de 65 anos,22,45,-23,2700.99,2914.5

In [11]:
# Inserir análise dos salários no nosso dicionário
df_salários = analisar_salarios_aprimorado(caged_microdados_full, caged_dimensoes, ["Setores", "uf"])
caged_formatado_completo["valorsaláriofixo"] = df_salários

                                             Setores  \
0                                         Construção
1      Serviços de transporte, armazenagem e correio
2                                    Outros serviços
3  Agricultura, pecuária, produção florestal, pes...
4                           Alojamento e alimentação
5                                    Indústria geral
6  Informação, comunicação e atividades financeir...
7                                Serviços domésticos
8  Comércio, reparação de veículos automotores e ...
9  Administração pública, defesa, seguridade soci...

                                           Descrição
0                                         Construção
1      Serviços de transporte, armazenagem e correio
2                                    Outros serviços
3  Agricultura, pecuária, produção florestal, pes...
4                           Alojamento e alimentação
5                                    Indústria geral
6  Informação, comunicação e atividades financeir...
7                                Serviços domésticos
8  Comércio, reparação de veículos automotores e ...
9  Administração pública, defesa, seguridade soci...

In [12]:
# salvando os arquivos
salvar_arquivos(caged_formatado_completo, "CAGED_outubro2")

In [13]:
# teste da analise combinada
df_detalhamento = analises_combinadas(caged_microdados, caged_dimensoes, grupos=["Setores"])
df_detalhamento.to_excel("./Tabelas/Setores.xlsx")

In [14]:
df_setor_por_muni = analises_combinadas(caged_microdados, caged_dimensoes, grupos=["município", "subclasse"])

idx = df_setor_por_muni.groupby("município")["Saldo"].idxmax()
df_setor_por_muni = df_setor_por_muni.loc[idx]
df_setor_por_muni.to_excel("./Tabelas/setor_por_muni2.xlsx")