In [1]:
from Microdados_CAGED import *
import pandas as pd

In [2]:
# Aqui cria-se dois data.frames: os dados brutos e os sumarizados pelo pandas
caged_microdados, caged_agrupamentos = importar_histórico_caged(ano_inicial=2023, mes_inicial=6)

c:\Users\Alexandre\OneDrive\Documentos\R\Projeto CAGED\Python\Microdados_CAGED.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  caged['saldomovimentação'] = -caged['saldomovimentação']
c:\Users\Alexandre\OneDrive\Documentos\R\Projeto CAGED\Python\Microdados_CAGED.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  caged['saldomovimentação'] = -caged['saldomovimentação']

In [3]:
# Verificação se dos itens criados, temos de fato um data.frame
if isinstance(caged_agrupamentos["município"], pd.DataFrame):
    print("É um DataFrame")
else:
    print("Não é um DataFrame")

É um DataFrame

In [4]:
caged_agrupamentos["município"] # Verificando um dos itens do dicionário

                      Desligamentos  Admissões Salario_medio  Saldo
Período    município
2023-06-01 220005                 6          7       1376.43      1
           220010                 0          1       1320.00      1
           220020                38         29       1435.03     -9
           220027                 1          1       1345.06      0
           220030                12         12       1526.97      0
...                             ...        ...           ...    ...
2023-08-01 221110                84        122       1415.09     38
           221120               146        249       1644.27    103
           221130                41         30       1425.48    -11
           221150                 2          0       1333.88     -2
           221160                 0          2       2277.27      2

[565 rows x 4 columns]

In [5]:
caged_dimensoes = importar_dimensoes() # o dicionário de tabelas-dimensões

In [6]:
# O dicionário de dos dados agrupados, separados pelo respectivo grupo
# Esta etapa é apenas para separar os objetos, deixando salvos os objtos acima
 
dataframes_dict = {}
for key in pages[:-1]:
    dataframes_dict[key] = pd.DataFrame(caged_agrupamentos[key])

# temos um dicionário de DataFrames separados
dataframes_dict

{'município':                       Desligamentos  Admissões Salario_medio  Saldo
 Período    município
 2023-06-01 220005                 6          7       1376.43      1
            220010                 0          1       1320.00      1
            220020                38         29       1435.03     -9
            220027                 1          1       1345.06      0
            220030                12         12       1526.97      0
 ...                             ...        ...           ...    ...
 2023-08-01 221110                84        122       1415.09     38
            221120               146        249       1644.27    103
            221130                41         30       1425.48    -11
            221150                 2          0       1333.88     -2
            221160                 0          2       2277.27      2

 [565 rows x 4 columns],
 'subclasse':                       Desligamentos  Admissões Salario_medio  Saldo
 Período    subclasse
 2023-06-01 111301                 8         53      11096.56     45
            111302                24         29       7442.81      5
            111399                11         12       2301.22      1
            112101                 0          2       1700.00      2
            113000                 0        176       3086.14    176
 ...                             ...        ...           ...    ...
 2023-08-01 9603301                2          0       1430.43     -2
            9603304               25         12       1383.74    -13
            9609207                0          1       1320.00      1
            9609208                1          4       1403.71      3
            9609299                1          0        660.00     -1

 [1861 rows x 4 columns],
 'graudeinstrução':                             Desligamentos  Admissões Salario_medio  Saldo
 Período    graudeinstrução
 2023-06-01 1                           46        122       3053.74     76
            2                          284        963       1987.98    679
            3                          149        364       2139.04    215
            4                          521        697       2652.76    176
            5                          879       1457       2518.61    578
            6                          684        869       2233.12    185
            7                         6235       8283       2663.18   2048
            8                          356        390       6745.72     34
            9                          875       1029       4202.11    154
            10                           8         12      12303.09      4
            11                           6          0       5803.06     -6
            80                          75         87       4502.31     12
 2023-07-01 1                           46         78       1456.09     32
            2                          289        472       1920.16    183
            3                          162        275       3150.56    113
            4                          501        704       2222.78    203
            5                          894       1296       2539.77    402
            6                          615        850       2149.54    235
            7                         6205       8367       2968.10   2162
            8                          342        450       2593.35    108
            9                          909       1163       3903.49    254
            10                          32         14       4574.85    -18
            11                          14          1      34519.17    -13
            80                          66        175       3815.41    109
 2023-08-01 1                           64         63       3680.66     -1
            2                          308        276       1591.65    -32
            3                          181        228       1567.59     47
            4                          520        725       2028.86    205
            5                         1024       1453       1923.00    429
            6                          736        876       2552.65    140
            7                         6478       8166       2603.13   1688
            8                          405        416       2813.22     11
            9                          926       1144       4304.46    218
            10                          39         62       2134.29     23
            11                          12         14       2351.28      2
            80                          99        133       4738.73     34,
 'faixaetária':                             Desligamentos  Admissões Salario_medio  Saldo
 Período    faixaetária
 2023-06-01 18 a 24 anos              2179       3902       2199.73   1723
            25 a 29 anos              2027       2776       3266.66    749
            30 a 39 anos              3212       4078       2944.54    866
            40 a 49 anos              1858       2377       2626.08    519
            50 a 64 anos               739        947       4057.40    208
            Até 17 anos                 39        157       1589.24    118
            Mais de 65 anos             62         36       5731.91    -26
            Não informado                2          0       2322.50     -2
 2023-07-01 18 a 24 anos              2281       3590       2304.19   1309
            25 a 29 anos              2092       2765       2715.35    673
            30 a 39 anos              3136       4060       2725.45    924
            40 a 49 anos              1745       2359       3880.11    614
            50 a 64 anos               734        940       3864.04    206
            Até 17 anos                 33         95        855.09     62
            Mais de 65 anos             54         36       6816.33    -18
 2023-08-01 18 a 24 anos              2527       3883       2242.31   1356
            25 a 29 anos              2203       2651       2334.07    448
            30 a 39 anos              3372       3863       2906.35    491
            40 a 49 anos              1817       2156       2956.07    339
            50 a 64 anos               742        792       3415.65     50
            Até 17 anos                 83        176       1018.71     93
            Mais de 65 anos             39         35       2354.05     -4
            Não informado                9          0        665.30     -9,
 'raçacor':                     Desligamentos  Admissões Salario_medio  Saldo
 Período    raçacor
 2023-06-01 1                  917       1071       3127.85    154
            2                  457        608       3564.90    151
            3                 6783       9951       2892.27   3168
            4                   57         79       2799.38     22
            5                    6          9       1395.71      3
            6                 1884       2555       2369.85    671
            9                   14          0       2124.10    -14
 2023-07-01 1                 1011       1124       2961.94    113
            2                  451        655       2948.54    204
            3                 6743       9627       3149.50   2884
            4                   69         78       1547.35      9
            5                   16         18      10204.30      2
            6                 1773       2343       1870.09    570
            9                   12          0       2050.57    -12
 2023-08-01 1                  934       1188       2508.30    254
            2                  525        598       2886.04     73
            3                 7422       9520       2684.06   2098
            4                   59         77       2188.77     18
            5                   10         21       1510.59     11
            6                 1836       2152       2448.68    316
            9                    6          0       1921.15     -6,
 'sexo':                  Desligamentos  Admissões Salario_medio  Saldo
 Período    sexo
 2023-06-01 1              6838      10134       2632.88   3296
            3              3280       4139       3327.28    859
 2023-07-01 1              6828       9460       2489.99   2632
            3              3247       4385       3785.22   1138
 2023-08-01 1              7229       9378       2469.28   2149
            3              3563       4178       2990.71    615}

In [7]:
# Consolidação dos resultados, conforme os parâmetros da função que criamos
caged_formatado_completo = consolidar_caged(caged_agrupamentos, caged_dimensoes)

In [8]:
caged_formatado_completo["graudeinstrução"] # verificando a disposição de um dos itens

,Período,graudeinstrução,Admissões,Desligamentos,Saldo,Salário médio
0,2023-06-01,Analfabeto,122,46,76,3053.74
1,2023-07-01,Analfabeto,78,46,32,1456.09
2,2023-08-01,Analfabeto,63,64,-1,3680.66
3,2023-06-01,Até 5ª Incompleto,963,284,679,1987.98
4,2023-07-01,Até 5ª Incompleto,472,289,183,1920.16
5,2023-08-01,Até 5ª Incompleto,276,308,-32,1591.65
6,2023-06-01,5ª Completo Fundamental,364,149,215,2139.04
7,2023-07-01,5ª Completo Fundamental,275,162,113,3150.56
8,2023-08-01,5ª Completo Fundamental,228,181,47,1567.59
9,2023-06-01,6ª a 9ª Fundamental,697,521,176,2652.76
10,2023-07-01,6ª a 9ª Fundamental,704,501,203,2222.78
11,2023-08-01,6ª a 9ª Fundamental,725,520,205,2028.86
12,2023-06-01,Fundamental Completo,1457,879,578,2518.61
13,2023-07-01,Fundamental Completo,1296,894,402,2539.77
14,2023-08-01,Fundamental Completo,1453,1024,429,1923.00
15,2023-06-01,Médio Incompleto,869,684,185,2233.12
16,2023-07-01,Médio Incompleto,850,615,235,2149.54
17,2023-08-01,Médio Incompleto,876,736,140,2552.65
18,2023-06-01,Médio Completo,8283,6235,2048,2663.18
19,2023-07-01,Médio Completo,8367,6205,2162,2968.10
20,2023-08-01,Médio Completo,8166,6478,1688,2603.13
21,2023-06-01,Superior Incompleto,390,356,34,6745.72
22,2023-07-01,Superior Incompleto,450,342,108,2593.35
23,2023-08-01,Superior Incompleto,416,405,11,2813.22
24,2023-06-01,Superior Completo,1029,875,154,4202.11
25,2023-07-01,Superior Completo,1163,909,254,3903.49
26,2023-08-01,Superior Completo,1144,926,218,4304.46
27,2023-06-01,Mestrado,12,8,4,12303.09
28,2023-07-01,Mestrado,14,32,-18,4574.85
29,2023-08-01,Mestrado,62,39,23,2134.29
30,2023-06-01,Doutorado,0,6,-6,5803.06
31,2023-07-01,Doutorado,1,14,-13,34519.17
32,2023-08-01,Doutorado,14,12,2,2351.28
33,2023-06-01,Pós-Graduação completa,87,75,12,4502.31
34,2023-07-01,Pós-Graduação completa,175,66,109,3815.41
35,2023-08-01,Pós-Graduação completa,133,99,34,4738.73

In [9]:
# Inserir análise dos salários no nosso dicionário
df_salários = analisar_salarios(caged_microdados, caged_dimensoes, "município")
caged_formatado_completo["salário"] = df_salários

      município    IBGE7                UF              Descrição  \
0        110001  1100015                RO  Alta Floresta D´oeste
1        110002  1100023                RO              Ariquemes
2        110003  1100031                RO                 Cabixi
3        110004  1100049                RO                 Cacoal
4        110005  1100056                RO             Cerejeiras
...         ...      ...               ...                    ...
5566     522205  5222054                GO         Vicentinópolis
5567     522220  5222203                GO               Vila Boa
5568     522230  5222302                GO          Vila Propício
5569     530010  5300108                DF               Brasília
5570     999999  9999999  Não identificado       Não identificado

                   Região Unnamed: 5
0            Região Norte        NaN
1            Região Norte        NaN
2            Região Norte        NaN
3            Região Norte        NaN
4            Região Norte        NaN
...                   ...        ...
5566  Região Centro-Oeste        NaN
5567  Região Centro-Oeste        NaN
5568  Região Centro-Oeste        NaN
5569  Região Centro-Oeste        NaN
5570     Não identificado        NaN

[5571 rows x 6 columns]

In [10]:
# salvando os arquivos
salvar_arquivos(caged_formatado_completo, "CAGED_histórico")